<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Parent-Child Controller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        body {
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <my-filtered-search ></my-filtered-search>
    </div>

    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

    <script >
        // application definition
        (function( ng ){
            'use strict';
            var app = ng.module('example', []);

            angular.element(document).ready(function() {
                angular.bootstrap(document, ['example']);
            });

        })( angular );
        // service
        (function( ng, app) {

            var httpService = function ( $q, $timeout) {

                function getData(key) {
                    var deferred = $q.defer();

                    var timer = Math.random() * (2500 - 500) + 500;

                    $timeout(function() {
                        deferred.notify('generating data for ' + key + '.');

                        var max = Math.random() * (25 - 10) + 10;
                        var data = [];
                        for (var index = 1; index <= max; index++) {
                            var count = Math.floor(Math.random() * 200) + 1;
                            data[data.length] = {id: index, name: key + ' of ' + index, count: count, checked: false};
                        }

                        deferred.resolve(data);
                    }, timer);

                    return deferred.promise;
                }

                return {
                    getData: getData
                };
            }

            httpService.$inject = ['$q', '$timeout'];

            app.service('httpService', httpService);

        })( angular, angular.module('example') );
        // models
        (function( ng, app) {

            var FilterCriteriaFactory = function ($q) {

                var AbstractSubscriptionModel = function (){
                    var subscribers = [];

                    function construct(){

                    }

                    construct.prototype.subscribe = function(callback, event){
                        event = event || 'change';

                        var subscriber = { callback: callback, event: event };
                        var index = subscribers.indexOf(subscriber);

                        if ( index == -1 ){
                            subscribers.push(subscriber);
                        }
                    };

                    construct.prototype.unsubscribe = function(callback, event){
                        event = event || 'change';

                        var subscriber = { callback: callback, event: event };
                        var index = subscribers.indexOf(subscriber);

                        if ( index >= 0 ){
                            subscribers.splice(index, 1);
                        }
                    };

                    construct.prototype.raise = function(o, event){
                        event = event || 'change';

                        for(var index = 0; index < subscribers.length; index++ ){
                            var subscriber = subscribers[index];

                            if ( subscriber.event == event ){
                                subscriber.callback(o, event);
                            }
                        }

                    };

                    return construct;
                }();

                var KeyValueFilterCollection = function(loader, key, caption){
                    // AbstractSubscriptionModel.call(this)
                    var selected = [];

                    function construct(loader, key, caption){
                        function onDataPromise(data){
                            // console.log(this);
                            this.data = data;
                            construct.prototype.raise.call(this, data, 'loaded');
                        }

                        loader.then(onDataPromise);
                        this.key = key;
                        this.caption = caption;
                        this.data = [];
                    }

                    construct.prototype = Object.create(AbstractSubscriptionModel.prototype);

                    construct.prototype.checked = function(item){
                        var index = selected.indexOf(item);

                        if ( index == -1 ){
                            selected.push(item);
                            construct.prototype.raise.call(this, item, 'checked');
                        }
                    };

                    construct.prototype.unchecked = function(item){
                        var index = selected.indexOf(item);

                        if ( index != -1 ){
                            selected.splice(index, 1);
                            construct.prototype.raise.call(this, item, 'unchecked');
                        }
                    };

                    return construct;
                }();

                var FilterCriteria = function(){
                    // AbstractSubscriptionModel.call(this)
                    var onDataChange = function(item){
                        console.log('FilterCriteria->onDataChange', item)
                    };

                    var onDataLoaded = function(kvfc){
                        console.log('FilterCriteria->onDataLoaded', kvfc)
                    };

                    function construct(){

                    }

                    construct.prototype = Object.create(AbstractSubscriptionModel.prototype);
                    construct.constructor = construct;

                    construct.prototype.Add = function( keyvaluefiltercollection ){
                        keyvaluefiltercollection.subscribe(onDataChange, 'checked');
                        keyvaluefiltercollection.subscribe(onDataChange, 'unchecked');
                        keyvaluefiltercollection.subscribe(onDataLoaded, 'loaded');

                        this[keyvaluefiltercollection.key] = keyvaluefiltercollection;

                        console.log('FilterCriteria->Add', keyvaluefiltercollection)
                    };

                    return construct;
                }();

                return {
                    FilterCriteria: FilterCriteria,
                    KeyValueFilterCollection: KeyValueFilterCollection
                };
            }

            FilterCriteriaFactory.$inject = ['$q'];

            app.factory('FilterCriteriaFactory', FilterCriteriaFactory);

        })( angular, angular.module('example') );
        // parent
        (function( ng, app ){
            'use strict';

            var FilteredSearch = function(){
                var FilteredSearchController = function(FilterCriteriaFactory, httpService){
                    var self = this;

                    var elements = [{ key: 'model', caption: 'caption for Model'},
                        { key: 'location', caption: 'caption for Location'}];

                    self.criteria = new FilterCriteriaFactory.FilterCriteria();

                    elements.map(function(value){
                        var fc = new FilterCriteriaFactory.KeyValueFilterCollection( httpService.getData(value.key), value.key, value.caption );
                        self.criteria.Add(fc);
                    });

                    console.log('FilteredSearch.criteria', self.criteria);
                };

                FilteredSearch.$inject = ['FilterCriteriaFactory', 'httpService'];

                return{
                    restrict: 'E',
                    scope: {},
                    controller: FilteredSearchController,
                    controllerAs: 'fs',
                    template: '<div class="container" >' +
                        '<div class="row" >' +
                            '<div class="col-lg-3" >' +
                                '<my-filtered-search-list criteria="fs.criteria[\'model\']" ></my-filtered-search-list>' +
                                '<my-filtered-search-list criteria="fs.criteria[\'location\']" ></my-filtered-search-list>' +
                            '</div>' +
                            '<div class="col-lg-9" >' +
                                '<my-results>In this example the children lists on the left are talking to the parent controller, through the criteria object that the parent is subscribed to</my-results>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                }
            };

            app.directive('myFilteredSearch', FilteredSearch);

        })( angular, angular.module('example') );
        // child
        (function( ng, app ){
            'use strict';

            var FilteredSearchList = function(){
                var FilteredSearchListController = function(){
                    var self = this;

                    var onDataLoad = function(data){
                        self.items = data;
                    };

                    console.log( 'FilteredSearchList.FilteredSearchListController', self);
                    self.items = self.criteria.data;
                    self.criteria.subscribe(onDataLoad, 'loaded');
                    self.caption = self.criteria.caption || self.criteria.key;

                    self.Update = function(item){
                        if (item.checked == false) {
                            self.criteria.checked(item);
                        } else {
                            self.criteria.unchecked(item);
                        }

                        console.log('updating->self.criteria.keys', self.criteria.key);
                    }
                };

                return{
                    restrict: 'E',
                    require: '^myFilteredSearch',
                    scope: {
                        criteria: '='
                    },
                    bindToController: true,
                    controller: FilteredSearchListController,
                    controllerAs: 'fsl',
                    template: '<div>' +
                        '<h4>{{ fsl.caption }}</h4>' +
                        '<div class="filtered-list" >' +
                            '<ul class="list-group checked-list-box" >' +
                                '<li class="list-group-item" ng-repeat="item in fsl.items" >' +
                                    '<input type="checkbox" ng-model="item.checked" ng-change="fsl.Update(item);" />' +
                                    '&nbsp;{{ item.name }}&nbsp;({{ item.count }})' +
                                '</li>' +
                            '</ul>' +
                        '</div>' +
                    '</div>'
                }
            };

            app.directive('myFilteredSearchList', FilteredSearchList);

        })( angular, angular.module('example') );

    </script>

    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
</body>
</html>
